/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #e6e6e6;
    --secondary-color: #58a1f1;
    --input-color: #afd2f8;
    --text-color: #333;
    --box-text-color: #989898;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

* {
    margin : 0;
    padding: 0;
}

html {
    font-family: "Sour Gummy", serif;
    text-align: center;
    font-size: 12px;
    color: var(--text-color);
}

/* General styles */
body {
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    overflow: hidden;
}

.navButtons {
    display: flex;
    flex-direction: column; /* Stack the items in a column */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    gap: 10px; /* Add spacing between the buttons */
}

.accountIcon {
    display: block; /* Ensure the icons are displayed */
    border-radius: 25%;
}

.accountIcon svg {
    width: 50px;
    height: 50px;
    fill: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%; /* Make icons circular */
    padding: 5px; /* Add padding for better clickability */
}

.accountIcon svg:hover {
    background-color: var(--text-color);
}


.homeIcon {
    display: block; /* Ensure the icons are displayed */
    border-radius: 25%;
}

.homeIcon svg {
    width: 50px;
    height: 50px;
    fill: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%; /* Make icons circular */
    padding: 5px; /* Add padding for better clickability */
}

.homeIcon svg:hover {
    background-color: var(--text-color);
}

.loginSection {
    position: relative;
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Fascinate Inline", serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    fill: var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border: 2px solid var(--secondary-color);
}

form input:focus {
    outline: none;
}

form button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--text-color);
}

form button focus {
    outline: none;
    background-color: var(--text-color);
}

.form-group option {
    font-family: "Sour Gummy", serif;
}

.form-group select {
    font-family: "Sour Gummy", serif;
}


#message {
    position: absolute; /* Make it float within the .loginSection */
    background-color: var(--text-color);
    color: var(--danger-color);
    padding: 10px 20px;
    border-radius: 10px; /* Slightly rounded edges for a better look */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
    font-size: 1rem;
    z-index: 10; /* Ensure it appears above other elements */
    display: none; /* Hide by default */
    justify-content: center;
    align-items: center;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to align center */
    width: auto; /* Allow the message to adjust based on its content */
    max-width: 90%; /* Ensure the message doesn't overflow the container */
    text-align: center;
}


#flight-form {
    margin: 10px 0;
}

#flight-form select {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--input-color);
    color: var(--text-color);
}

#flight-form select option#default {
    color: var(--box-text-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border-radius: 0 20px 20px 0;
    width: max(40%, 600px);
}

.result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px; /* Add this line to create space between <p> elements */
}
.result p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
}

.result button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

.result button:hover {
    background-color: var(--text-color);
}

.result button focus {
    outline: none;
    background-color: var(--text-color);
}

.content {
    position: relative;
}

.floating-message {
    position: absolute;
    background-color: var(--text-color);
    color: var(--danger-color);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 90%;
    text-align: center;
}

.logout button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

.logout button:hover {
    background-color: var(--text-color);
}

.logout button focus {
    outline: none;
    background-color: var(--text-color);
}


#account-info {
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account-info p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
}

#account-info button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

#account-info button:hover {
    background-color: var(--text-color);
}

#account-info button focus {
    outline: none;
    background-color: var(--text-color);
}

#statistics {
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#statistics p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
}

#statistics button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

#statistics button:hover {
    background-color: var(--text-color);
}

#statistics button focus {
    outline: none;
    background-color: var(--text-color);
}

.hiddenPort {
    display: none;
}

#flight-history-form {
    margin: 10px 0;
    flex-direction: column;
}

#flight-history-form select {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--input-color);
    color: var(--text-color);
}

#flight-history-form select option#default {
    color: var(--box-text-color);
}

#flight-dropdown:focus {
    outline: none;
}

#flight-details {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: var(--text-color);
    font-size: 1rem;
}

#flight-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
    text-align: center;
}

#flight-details p {
    margin: 5px 0;
    line-height: 1.5;
    font-weight: 500;
}

#delete {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

#delete:hover {
    background-color: var(--text-color);
}

#delete focus {
    outline: none;
    background-color: var(--text-color);
}