/* style.css */

:root {
    --primary-color: #e6e6e6;
    --secondary-color: #58a1f1;
    --input-color: #afd2f8;
    --text-color: #333;
    --box-text-color: #989898;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

* {
    margin : 0;
    padding: 0;
}

html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    color: var(--text-color);
}

/* General styles */
body {
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    overflow: hidden;
}

.accountIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.accountIcon svg {
    width: 50px;
    height: 50px;
    fill: var(--primary-color);
    cursor: pointer;
}



.loginSection {
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    fill: var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border: 2px solid var(--secondary-color);
}

form input:focus {
    outline: none;
}

form button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--text-color);
}

form button focus {
    outline: none;
    background-color: var(--text-color);
}

#flight-form {
    margin: 10px 0;
}

#flight-form select {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--input-color);
    color: var(--text-color);
}

#flight-form select option#default {
    color: var(--box-text-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border-radius: 0 20px 20px 0;
    width: max(40%, 600px);
}

.result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px; /* Add this line to create space between <p> elements */
}
.result p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
}

.result button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

.result button:hover {
    background-color: var(--text-color);
}

.result button focus {
    outline: none;
    background-color: var(--text-color);
}

.error {
    display: none;
}

.logout button {
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    color: var(--primary-color);
    border: none;
    border-radius: 1000px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

.logout button:hover {
    background-color: var(--text-color);
}

.logout button focus {
    outline: none;
    background-color: var(--text-color);
}